.wrapper {
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.wrapperNight {

  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
}

.wrapperDay {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: #303030;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subBox{
 display: flex;
  flex-direction: column;

}
.param{
font-size: 13px;
  font-weight: bold;
}
.info{
font-size: 40px;
  font-weight: bold;
}

@media (max-width: 500px) {

  .param{
    font-size: 14px;

  }
  .info{
    font-size: 20px;

  }

}
